{% extends "base.njk" %}

{% block content %}
  {% block profile %}
    <section class="cover unpad switchable switchable--switch text-center-xs">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-6">
            <img alt="{{settings.firstName}} {{settings.lastName}} Picture" src="{{settings.picture}} " width="293"  height="501"/>
          </div>
          <div class="col-md-6 col-lg-5 mt-0">
            <h1 class="color--primary">
                                Hi, I'm <br class="hidden-xs hidden-sm"/>
              {{settings.firstName}}
              {{settings.lastName}}
            </h1>
            <p class="lead">
              {{settings.profileText}}
            </p>
            <a class="btn btn--primary type--uppercase" href="/resume/">
              <span class="btn__text">
                                    Resume
                                </span>
            </a>
            <a class="btn btn--primary type--uppercase" href="/blogs/">
              <span class="btn__text">
                                    Blogs
                                </span>
            </a>
          </div>

        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
  {% endblock %}
  {{content | safe}}
  {% block recentblogs %}
    {% if (collections.posts | length) > 0 %}
    <section class="space--xs">
      <div class="container">
        <div class="row text-block">
          <div class="col-md-12">
            <h3>More recent stories</h3>
          </div>
        </div>
        <div class="row">
          {% for post in collections.posts | reverse %}
            {% if loop.index0 < 3 %}    
            <div class="col-md-4">
              <article class="feature feature-1">
                <a href="{{post.url}}" class="block">
                  <img alt="{{post.data.title}}" src="{{post.data.featuredImage}}" width="300px" height="200px">
                </a>
                <div class="feature__body boxed boxed--border">
                  <h4>{{post.data.title}}</h4>
                  <a href="{{post.url}}">
							Read More about {{post.data.title}}
						</a>
                </div>
              </article>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
  {% endblock %}

{% endblock %}
